<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple, clean, and responsive HTML invoice template</title>
  
  <style>
  @page {
    size: a4 portrait;
    margin: 0mm 0mm 0mm 0mm;
    counter-increment: page;
  }
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }
  
  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }
  
  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }
  
  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }
  
  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }
  
  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }
  
  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }
  
  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }
  
  .invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
  }
  
  .invoice-box table tr.item.last td {
    border-bottom: none;
  }
  
  .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
    }
    
    .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  div.divFooter {
    position: fixed;
    height: 30px;
    background-color: purple;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  
  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }
  
  .rtl table {
    text-align: right;
  }
  
  .rtl table tr td:nth-child(2) {
    text-align: left;
  }
  </style>
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img src="" style="height: 100px;">
              </td>
              <td>
                Invoice #: {{invoice_number}}<br>
                Created: {{date}}<br>
                Due: {{duedate}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                {{from_addr['company_name']}}<br>
                {{from_addr['addr1']}}<br>
                {{from_addr['addr2']}}
              </td>
              <td>
                {{to_addr['company_name']}}<br>
                {{to_addr['person_name']}}<br>
                {{to_addr['person_email']}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="heading">
        <td>
          Item
        </td>
        <td>
          Price
        </td>
      </tr>

      {% for item in items %}      
      <tr class="item">
        <td>
          {{item['title']}}
        </td>
        <td>
          ${{item['charge']}}
        </td>
      </tr>
      {% endfor %}
      
      <tr class="total">
        <td></td>
        <td>
           Total: ${{total}}
        </td>
      </tr>
    </table>
  </div>
  <div class="divFooter"></div>
</body>
</html>